body {
  background-color: #222222;
}

.class {
  display: block;
}

#item {
  font-weight: 500;
  font-size: 20px;
  font-family: "Helvetica", sans-serif;
  animation: animation 2s infinite;
}

@keyframes animation {
  from {
    flex: auto;
  }

  to {
    flex: 2;
  }
}

@media screen {
  h1 {
    box-shadow: 2px 2px 5px 4px antiquewhite;
  }
}

@media (min-width: 200px) {
  nav:after,
  nav:before {
    clear: both;
  }
}

@media (max-width: 500px) {
  section {
    background-color: #fff;
  }
}

@media screen and (min-width: 200px) and (max-width: 500px) {
  section {
    width: 90%;
  }
}
