body {
  background-color: #222222 !important;
}

.class {
  display: block !important;
}

#item {
  font-weight: 500;
  font-size: 20px;
  font-family: "Helvetica", sans-serif;
  animation: animation 2s infinite;
}

@keyframes animation {
  from {
    /* biome-ignore lint/suspicious/noImportantInKeyframe: is necessary to test the plugin  */
    flex: auto !important;
  }

  to {
    flex: 2 !important;
  }
}

@media screen {
  h1 {
    box-shadow: 2px 2px 5px 4px antiquewhite !important;
  }
}

@media (min-width: 200px) {
  nav:after,
  nav:before {
    clear: both;
  }
}

@media (max-width: 500px) {
  section {
    background-color: #fff !important;
  }
}

@media screen and (min-width: 200px) and (max-width: 500px) {
  section {
    width: 90% !important;
  }
}
