name: Build

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout
          uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
          with:
            token: ${{ secrets.GITHUB_TOKEN }}
        - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
            bun-version: 1.3.6
        - name: Restore cache
          id: restore-cache
          uses: actions/cache/restore@9255dc7a253b0ccc959486e2bca901246202afeb # v5
          with:
            path: |
              ~/.bun/install/cache
            key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lock') }}
        - name: Install dependencies
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          run: bun install --frozen-lockfile --no-interactive
        - name: Type check
          run: bun run type-check
        - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
          with:
            path: |
              ~/.bun/install/cache
            key: ${{ steps.restore-cache.outputs.cache-primary-key }}
